<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<th:block th:include="fragments :: headerfiles">
</th:block>

</head>
<body>
	<div class="container-fluid text-center "> <!--  MAIN DIV STARTS HERE-->
		<div class="container centerdiv "> <!-- CONTAINER STARTS HERE -->
			<div class="d-flex justify-content-center ">
				<div class="user_card ">
					<div class="d-flex justify-content-center">
						<div class="brand_logo_container bg-white">
							<img th:src="@{/images/ShopmeAdminBig.png}" class="brand_logo" alt="Logo">
						</div>
					</div>
					<div class="d-flex justify-content-center form_container ">
						<form action="#" th:action="@{/login}" method="POST">
							<div th:if="${param.error}" class="alert alert-danger">
								[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>
							<div th:if="${param.logout}" class="alert alert-danger">
								You have been logged out</div>
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i
										class="fas fa-user"></i></span>
								</div>
								<input type="email" name="email"
									class="form-control input_user" value="" placeholder="E-mail" required>

							</div>
							<div class="input-group mb-2">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" name="password"
									class="form-control input_pass" value="" placeholder="Password" required>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input"
										id="customControlInline"> <label
										class="custom-control-label" for="customControlInline">Remember
										me</label>
								</div>
							</div>
							<div class="d-flex justify-content-center mt-3 login_container">
								<button type="submit" name="button" class="btn login_btn">Login</button>
							</div>
						</form>
					</div>

					<div class="mt-4 text-white">
						<div class="d-flex justify-content-center links ">
							Don't have an account? <a href="" class="ml-2 text-white">Contact Admin</a>
						</div>
						<div class="d-flex justify-content-center links mt-1 ">
							<a class="text-white" href="/forget">Forgot your password?</a>
						</div>
						<div class="d-flex justify-content-center links mt-2">
							<a class="text-white" href="/oauth2/authorization/google">Continue with&nbsp;<i class="fab fa-google-plus-square fa-3x"></i></a>
							</div>
						<div class="d-flex justify-content-center links">
							<a class="text-white" href="/oauth2/authorization/facebook">Continue with&nbsp;<i class="fab fa-facebook-square fa-3x"></i></a>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>