<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments :: headerfiles">
</th:block>
</head>
<body>
	<th:block th:include="fragments :: modalfiles">
	</th:block>
	<th:block th:include="fragments :: navbarfiles">
	</th:block>

	<div class="container-fluid text-center">
		<div class="container">
			<h1>Shopme USER SECTION</h1>
			<a th:href="@{/users/new}"> Create New User </a>
		</div>
		<div th:if="${message}" class="alert alert-success text-center">
			[[${message}]]</div>

		<div>
			<table
				class="table table-bordered table-striped  table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>User Id</th>
						<th>Photos</th>
						<th>Email</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Enabled</th>
						<th>Roles</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td><span th:if="${user.photos == null}"
							class="fas fa-portrait fa-2x icon-silver"> </span> <img
							th:if="${user.photos != null}"
							th:src="@{${user.photosImagePath}}" alt"" width="70px" /></td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						<td><a th:if="${user.enabled == true}"
							class="fas fa-check-circle fa-2x icon-green"
							th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
							title="Click Here! to Disable"></a> <a
							th:if="${user.enabled == false}"
							class="fas fa-check-circle fa-2x icon-dark"
							th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
							title="Click Here! to Enable"></a></td>

						<td><a class="fas fa-edit fa-2x icon-green"
							th:href="@{'/users/edit/'+${user.id}}"
							title="Click! here to Edit"></a> &nbsp; <a
							class="fas fa-trash fa-2x icon-dark Link-Delete"
							th:href="@{'/users/delete/'+${user.id}}" th:userIds="${user.id}"
							title="Click! here to Delete"></a></td>
				</tbody>
			</table>

		</div>
		<div th:if="${totalItems >0}">
			<span>Showing user # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div th:unless="${totalItems >0}">
			<span>No Users to Show! </span>
		</div>
		<div>
			<nav >
				<ul class="pagination justify-content-center hover">
					<li th:class="${currentPage >1  ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{/users/page/1}">First</a></li>
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/users/page/' + ${currentPage -1}}">Previous</a></li>
					
					<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
					<a class="page-link" th:href="@{'/users/page/' + ${i}}">[[${i}]]</a>
					</li>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/users/page/' + ${currentPage +1}}">Next</a></li>
					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/users/page/' + ${totalPages}}">Last</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<th:block th:include="fragments :: footerfiles">
	</th:block>

	<script type="text/javascript">
		$(document).ready(
				function() {
					$(".Link-Delete").on(
							"click",
							function(e) {
								e.preventDefault();
								link = $(this);
								userId = link.attr("userIds");
								hrefAttr = link.attr("href");
								//alert($(this).attr("href"));
								showModalDialog("Delete Confirmation",
										"Are You sure! you want to delete user id "
												+ userId + " ?", hrefAttr)
							});
				});

		function showModalDialog(title, message, hAttr) {
			//alert("ModalDialog");

			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalYes-Btn").attr("href", hrefAttr);
			$("#modalYesButtonText").text("Yes");
			$("#modalYes-Btn").attr("class", "btn btn-success");
			$("#modal-button").text("No");

			$("#modalDialog").modal();

		}
	</script>

</body>
</html>