<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments :: headerfiles">  </th:block>
</head>
<body>
	<th:block th:include="fragments :: modalfiles">  </th:block>
	
	<th:block th:include="fragments :: navbarfiles"> </th:block>
	
 	<div class="container-fluid ">
		<div class="container text-center">
			<h3>Manage User | [[${pageTitle}]]</h3>
		</div>

		<form  th:action="@{/users/save}" onsubmit="return checkEmailUnique(this)" method="post"
			enctype="multipart/form-data"
			style="max-width: 700px; margin: 0 auto" th:object="${user}">
			<input type="hidden" th:field="*{id}" />
			<div class="border border-secondary rounded p-3">
				<div class="form-group row">
					<label class="col-sm-4 col-form-Label"> E-mail </label>
					<div class="col-sm-8 mb-2">
						<input type="email" class="form-control" th:field="*{email}"
							required minlength="8" maxlength="128" />
					</div>
				</div>
				<div class="form-group row">	
					<label class="col-sm-4 col-form-Label"> First Name </label>
					<div class="col-sm-8 mb-2">
						<input type="text" class="form-control" th:field="*{firstName}"
							required minlength="4" maxlength="45" />
					</div>
				</div>
				<div class="form-group row">	
					<label class="col-sm-4 col-form-Label"> Last Name</label>
					<div class="col-sm-8 mb-2">
						<input type="text" class="form-control" th:field="*{lastName}"
							required minlength="4" max="45" />
					</div>
				</div>	
				<div class="form-group row">	
					<label class="col-sm-4 col-form-Label"> Password</label>
					<div class="col-sm-8 mb-2">
					
						<input th:if="${user.id == null}" type="password" class="form-control" th:field="*{password}"
							required minlength="8" max="20" />
						<input th:if="${user.id != null}" type="password" class="form-control" th:field="*{password}"
							minlength="8" max="20" placeholder="leave empty if don't want to change password"/>
					
					</div>
					</div>
					<div class="form-group row">
					<label class="col-sm-4 col-form-Label">enabled</label>
					<div class="col-sm-8">
						<input type="checkbox" th:field="*{enabled}" />
					</div>
					</div>
					<div class="form-group row">
					<label class="col-sm-4 col-form-Label"> ROLES:</label>
					<div class="col-sm-8">
						<th:block th:each="role : ${listRoles}">
							<input type="checkbox" th:field="*{roles}" th:text="${role.name}"
								th:value="${role.id}" class="m-2" /> 
							- <small>[[${role.description}]]</small>
							<br>
						</th:block>
					</div>
				</div>
				<div class="form-group row">	
								<label class="col-sm-4 col-form-Label">Photos</label>
					<div class="col-sm-8">
					<input type="hidden" th:field="*{photos}" />
						<input type="file" id="fileImage" name="image" accept="image/png,image/jpeg"/ class="mb-2">
						<img id="thumbnail" th:src="@{${user.photosImagePath}}" alt="Default User Image"
						class="img-fluid" width="120px" />
					</div>
				</div>
					<div class="text-center">
						<input type="submit" value="SAVE" class="btn btn-primary m-3" />
						<input type="button" value="CANCEL" class="btn btn-secondary" id="buttonCancel" />
					</div>

			</div>
		</form>
	</div>


<th:block th:include="fragments :: footerfiles"> </th:block>


	<script type="text/javascript">
		$(document).ready(function() {
			
		//showModalDialog("RAMAN", "HELLO WORLD");
			$("#buttonCancel").on("click", function() {
				window.location = "[[@{/users}]]";
			});
			$("#fileImage").change(function() {
				fileSize = this.files[0].size;
				//alert("file size" + fileSize);
				if(fileSize > 1024000) {
					this.setCustomValidity("You must choose an image less than 1MB!");
					this.reportValidity();
					
				}else{
				this.setCustomValidity("");
				showImageThumbnail(this);
				}
			});
		});

		function showImageThumbnail(fileInput){
				var file = fileInput.files[0];
				var reader = new FileReader();
				reader.onload = function(e) {
					$("#thumbnail").attr("src",e.target.result);
				};
				
				reader.readAsDataURL(file);
		}
		
		function checkEmailUnique(form) {

			url = "[[@{/users/check_email}]]";
			userEmail = $("#email").val();
			csrfValue = $("input[name='_csrf']").val();
			userId= $("#id").val();
			params = { id: userId,
				email : userEmail,
				_csrf : csrfValue
			};

			$.post(url, params, function(response) {
				//alert(response);
				if (response == "OK") {
					form.submit();
				} else if (response == "Duplicated") {
					//alert("Response is Duplicate");
					showModalDialog("Warning", "Sorry! User with this Email ID  is already registered, try another");
					return false;
					
				} else {
					showModalDialog("Waring", "Server Prob");
					return false;
				}
				 fail(function() {
					showModalDialog("Warning", "SERVER PROB");
					return false;
				}); 
			});
			return false;
		}

		function showModalDialog(title, message) {
			//alert("ModalDialog");
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modal-button").text("Close");
			

			$("#modalDialog").modal();

		}
	</script>


</body>

</html>